
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h6  class="navbar-text">COMP229&copy; 2022 All Rights Reserved.</h6>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
